<div class="p-d-flex p-flex-column">
    <div class="p-d-flex p-jc-around">
        <div>
            <h1>Book list</h1>
        </div>
        <div class="p-mt-3">
            <button pButton type="button" label="+ Add book"></button>
        </div>
    </div>

    <div class="p-d-flex p-jc-center">
        <div class="p-inputgroup p-md-7">
            <input [(ngModel)]="searchInput" type="text" pInputText placeholder="Type here...">         
            <button (click)="searchBook(searchInput)" type="button" pButton icon="pi pi-search"></button>      
        </div>
    </div>
    
    <div class="p-d-flex p-jc-center">
        <p-listbox
            [options]="books"
            [(ngModel)]="selectedBook"
            optionLabel="name"
            [listStyle]="{'max-height': '250px'}"
            class="p-md-7"
        >
            <ng-template let-book pTemplate="item">
                <div class="book-item p-d-flex p-jc-between">
                    <div>{{book.value.title}}</div>
                    <div>{{book.value.author.publishingHouse}}</div>
                    <div>{{book.value.author.fullname}}</div>
                </div>
            </ng-template>
        </p-listbox>
    </div>
</div>

