<p-dialog
    [draggable]="false"
    header="Book details"
    [(visible)]="visible"
    [style]="{width: '30vw'}"
    [baseZIndex]="10000"
    (onHide)="visibleChanged()"
>
    <div *ngIf="book">
        <div class="p-field p-d-flex p-flex-column">
            <label for="title">Title</label>
            <input class="p-inputtext-sm" disabled id="title" type="text" pInputText [(ngModel)]="book.title" />
        </div>
        <div class="p-field p-d-flex p-flex-column">
            <label for="totalpages">Total pages</label>
            <input class="p-inputtext-sm" disabled id="totalpages" type="text" pInputText [(ngModel)]="book.totalPages" />
        </div>
        <div class="p-field p-d-flex p-flex-column">
            <label for="publishinghouse">Publishing house</label>
            <input class="p-inputtext-sm" disabled id="publishingHouse" type="text" pInputText [(ngModel)]="book.publishingHouse" />
        </div>
        <h4>Author info</h4>
        <div class="p-d-flex">
            <div class="p-field p-d-flex p-flex-column p-mr-4">
                <label for="fullname">Full name</label>
                <input class="p-inputtext-sm" disabled id="fullname" type="text" pInputText [(ngModel)]="book.author.fullname" />
            </div>
            <div class="p-field p-d-flex p-flex-column">
                <label for="country">Country</label>
                <input class="p-inputtext-sm" disabled id="country" type="text" pInputText [(ngModel)]="book.author.country" />
            </div>
        </div>
        <div class="p-d-flex">
            <div class="p-field p-d-flex p-flex-column p-mr-4">
                <label for="birthyear">Birth year</label>
                <input
                    class="p-inputtext-sm"
                    disabled
                    id="birthYear"
                    type="text"
                    pInputText
                    [ngModel]="book.author.birthYear | date"
                    (ngModelChange)="book.author.birthYear = $event" />
            </div>
            <div class="p-field p-d-flex p-flex-column form-group p-sm-6">
                <label for="gender">Gender</label>
                <div class="p-d-flex p-jc-between">
                    <div class="p-field-radiobutton">
                        <p-radioButton
                            name="gender"
                            value="MALE"
                            [(ngModel)]="book.author.gender"
                            disabled
                        ></p-radioButton>
                        <label for="gender1">Male</label>
                    </div>
                    <div class="p-field-radiobutton">
                        <p-radioButton
                            name="gender"
                            value="FEMALE"
                            [(ngModel)]="book.author.gender"
                            disabled
                        ></p-radioButton>
                        <label for="gender2">Female</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>